<!DOCTYPE html>
<html>
<head>
 <title></title>
 <link rel="stylesheet" type="text/css" href="../css/materialize.css" media="screen,projection">
 <link rel="stylesheet" href="../ionRangeSliderDemo/css/ion.rangeSlider.css" />
 <link rel="stylesheet" href="../ionRangeSliderDemo/css/ion.rangeSlider.skinFlat.css" />
</head>
<body>
 <nav>
  <div class="nav-wrapper nav_color" style="">
   <a href="#" class="brand-logo left" style="margin-top:-10px">[ Leyes ] </a>
   <ul id="nav-mobile" class="right hide-on-med-and-down" >

    <li>

    <a id="goback" href="home.html">
     <span class="livicon"  style=""   data-hovercolor="white"
     data-color="white" data-name="remove" data-size="34">
   </span></a>

    <a id="gobackViewer" href="homecn.html">
     <span class="livicon"  style=""   data-hovercolor="white"
     data-color="white" data-name="remove" data-size="34">
   </span></a>


 </li>
</ul>
</div>
</nav>


<div  id="cargando" style="    background: #901414;
         width: 100%;
         height: 3000px;
         position: fixed;
         top: 0px;
         left: 0px;
         z-index: 100;
         opacity: 0.9; display: none; text-align: center; padding-top:200px">
         <div class="preloader-wrapper big active" style="    width: 200px;
            height: 200px;
            ">
            <div class="spinner-layer spinner-red-only">
               <div class="circle-clipper left">
                  <div class="circle" style="border-width: 3px;"></div>
               </div>
               <div class="gap-patch">
                  <div class="circle" ></div>
               </div>
               <div class="circle-clipper right">
                  <div class="circle"></div>
               </div>
            </div>
         </div>
         <h3 style="color: white "> Loading ...</h3>

</div>


<div class="container " id="consulta" style=" width: 100%" >
   <div class="row  s12 white" style="padding:10px;  margin-top:10px; ">

         <div class="col s12 "  style=" padding-left:10px"  >

         <img src="../logo.png" width="500px">

         </div>

      <div class="row" id="opcionesSearch" style="padding-left: 10px;">
         <div class="col s2 " style="padding:10px; padding-top:25px" >
            <select name="categoria" id="categoria" >
               <option value="" selected=""></option>
            </select>
            <label>CATEGORY</label>
         </div>
         <div class="col s2 " style="padding:10px; " >
            <div class="input-field  col s12 " style="">
               <input  type="text"  id="gaceta"></input>
               <label for="desde">GACETA</label>
            </div>
         </div>
         <div class="col s2 " style="padding:10px; padding-top:25px" >
          <select name="year" id="year" >
           <option value="2008" >2008</option>
           <option value="2009" >2009</option>
           <option value="2010" >2010</option>
           <option value="2011" >2011</option>
           <option value="2012" >2012</option>
           <option value="2013" >2013</option>
           <option value="2014" >2014</option>
           <option value="2015" >2015</option>
           <option value="2016" >2016</option>
         </select>
         <label>YEAR</label>

        </div>
         <div class="col s2 " style="padding:10px" >
            <div class="input-field  col s12 " style="">
               <input  type="date" class="datepicker"  id="desde"></input>
               <label for="desde">DESDE</label>
            </div>
         </div>
         <div class="col s2 " style="padding:10px" >
            <div class="input-field  col s12 " style="">
               <input type="date" class="datepicker" id="hasta"></input>
               <label for="hasta">HASTA</label>
            </div>
         </div>
         <div class="col s2"  style="padding-top:25px; padding-left:20px"  >
            <a  id="searchButtom1" onclick="searchLaw('ingles')" class="waves-effect waves-light btn red">Search</a>
         </div>
      </div>
      <div class="row s12" id="botonesSearch" style=" height: 10px;    padding-top: 6px;">


         <div class="col s2 "  style=" display:none; padding-left:10px"  >
            <a onclick="ver_listado_law()"  id=""  style="display: none"   class="waves-effect waves-light btn orange">Semanario Espa&ntilde;ol</a>
         </div>
         <div class="col s2 "  style=" display:none;  padding-left:10px"  >
            <a onclick="ver_tabla_law()"  class="waves-effect waves-light btn orange">Listado Espa&ntilde;ol</a>
         </div>
      </div>
   </div>
</div>





<div class="container" style="width: 100%; background: white; height: 3000px; padding: 50px; padding-top:5px" >

        <div  class="row s12" id="divTableTitle" style="background: #fff; color: #333; letter-spacing: 1px; height: 50px;">
        </div>


        <!-- VISTA TABLE  -->

        <div class="row s12"  id="divTable" style="width:100%; height:400px; overflow: scroll;">
           <table class="bordered" id="tableReporte"  >
              <thead>
                 <tr>
                    <th data-field="date" style="width:150px">DATE</th>
                    <th data-field="category" style="width:150px">GACETA</th>
                    <th data-field="detalle">TITLE</th>
                    <th data-field="actions" style="width: 150px"> SETTINGS </th>
                 </tr>
              </thead>
              <tbody id="bodyTable"></tbody>
           </table>
        </div>

        <!-- VISTA TABLE  -->



        <!-- VISTA PREVIA -->

        <div class="row s12" id="vistaprevia"   >



                    <HR style="margin-left:0px; width:90%">
                    <BR>


                     <div id="col_izquierda" >
                     </div>



        </div>


        <!-- VISTA PREVIA -->




        <!-- VISTA PREVIA INDIVIDUAL -->

        <div class="row s12" id="vistaprevia_individual" style="display:none; width:100%; " >
           <div class="container col s12"  style="padding: 10px">
              <a onclick="volver_atras_busqueda()"  class="waves-effect waves-light btn red">Back</a>
           </div>
           <div class="container col s12" >
              <div  class="  card-panel white"  style="border:none; margin-top:0px; float:left; margin: 0 auto;">
                 <div class="container col s12" style="margin-left: 60px; margin-right: 40px;  height:auto;" >
                    <div style="width:700px; padding-top:20px; padding-left:20px; font-size:14px; padding-right:40px; border:0px solid #333; margin-right:20px; float:left" id="col_izquierda_individual" >
                    </div>
                    <iframe style="border:none; margin-top:20px" id="pdf_law_individual" width="90%" height="2000px"></iframe>
                 </div>
              </div>
           </div>
        </div>

        <!-- VISTA PREVIA INDIVIDUAL -->












</div>



































<script src="../js/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="../js/lawConsulta.js"></script>
<script src="../js/raphael-min.js"></script>
<script src="../js/livicons-customizer-1.4.js"></script>
<script src="https://use.fontawesome.com/7b58a9f209.js"></script>

<script src="../js/customizer.js"></script>
<script type="text/javascript">
 $(document).ready(function(){

                     DatePicker();
                     InitSelect();
                     preview();
                     verSearch();
                     searchLaw('hoy');



                  // SEGURIDAD

                  if(localStorage.getItem("user")=="viewer"){
                  $('#gobackViewer').show();
                  $('#goback').hide();
                  }


                  if(localStorage.getItem("user")=="admin"){
                  $('#gobackViewer').hide();
                  $('#goback').show();
                  }

                  // SEGURIDAD








                  $('.modal').modal({
                        dismissible: true, // Modal can be dismissed by clicking outside of the modal
                        opacity: 1, // Opacity of modal background
                        in_duration: 300, // Transition in duration
                        out_duration: 200, // Transition out duration
                        starting_top: '10%', // Starting top style attribute
                        ending_top: '10%', // Ending top style attribute
                        ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.

                          console.log(modal, trigger);
                        },
                        complete: function() {

                        } // Callback for Modal close
                      }
                      );


                });



                function ver_listado_law(){
                   $("#container_principal").show();
                   $("#vistaprevia").show();
                   $("#divTable").hide();
                 }


                 function ver_tabla_law(){
                   $("#container_principal").show();
                   $("#vistaprevia").hide();
                   $("#divTable").show();
                 }



           </script>






         </body>
         </html>
