<!DOCTYPE html>
<html>
   <head>
      <title></title>
      <script src="../js/jquery.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/modules/exporting.js"></script>
      <link rel="stylesheet" type="text/css" href="../css/materialize.css" media="screen,projection">
      <script type="text/javascript">
         $(document).ready(function(){

           localStorage.removeItem("new_id");
           localStorage.setItem("user","admin");
          localStorage.removeItem("law_id");


         // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
         $('.modal').modal({
               dismissible: true, // Modal can be dismissed by clicking outside of the modal
               opacity: 1
             });
         });


      </script>
   </head>
   <body>

      <nav>
       <div class="row s12" style="">

         <div class="nav-wrapper nav_color" style="">
            <span class="livicon"  style=""   data-hovercolor="white"
               data-color="white" data-name="home" data-size="34">
            </span>
            <a href="#" class="brand-logo left" style="margin-top:-10px"> &nbsp;&nbsp;Home</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down" >
               <li><a href="user.html" >
                  <span class="livicon"  style=""   data-hovercolor="white"
                     data-color="white" data-name="users-add" data-size="34">
                  </span></a>
               </li>
               <li><a href="../index.html">
                  <span class="livicon"  style=""   data-hovercolor="white"
                     data-color="white" data-name="sign-out" data-size="34">
                  </span></a>
               </li>
            </ul>
         </div>
       </div>
      </nav>

      <div class="container s12" style="">

         <div class="row col s12" style="padding:30px; text-align: center ">

            <div id="modal1" class=" blue-grey lighten-2" style="height:320px; overflow:hidden; padding-top:50px">
               <div class="modal-content">
                  <div class="  col s4 " style="height:300px; text-align:center">
                     <a href="load.html" class="waves-effect waves-light btn   red darken-4" style=" width:200px; height:200px">
                        <br>
                        <span class="livicon"  style=""   data-hovercolor="white"
                           data-color="white" data-name="notebook" data-size="64">
                        </span><br>
                        <h5>NEWS</h5>
                     </a>
                  </div>
                  <div class="  col s4  " style="height:300px; text-align:center">
                     <a href="ley.html" class="waves-effect waves-light btn b red darken-4 " style=" width:200px; height:200px">
                        <br>
                        <span class="livicon"  style=""   data-hovercolor="white"
                           data-color="white" data-name="balance" data-size="64">
                        </span><br>
                        <h5>LAWS</h5>
                     </a>
                  </div>
                  <div class="  col s4 " style="height:300px; text-align:center">
                     <a class="waves-effect waves-light btn  red darken-4 " style=" width:200px; height:200px">
                        <br>
                        <span class="livicon"  style=""   data-hovercolor="white"
                           data-color="white" data-name="linechart" data-size="64">
                        </span><br>
                        <h5>FINANCE</h5>
                     </a>
                  </div>
               </div>
            </div>


         </div>
      </div>



      <script src="../js/raphael-min.js"></script>
      <script src="../js/livicons-customizer-1.4.js"></script>
      <script src="../js/customizer.js"></script>
   </body>
</html>
