<!DOCTYPE html>
<html>
   <head>
      <title></title>

      <link rel="stylesheet" type="text/css" href="../css/materialize.css" media="screen,projection">
   </head>
   <body>
      <nav>
         <div class="nav-wrapper" style="padding-right:100px; padding-left:100px;      padding-top: 10px; background:#0B0B3B">
            <span class="livicon"  style=""   data-hovercolor="white"
               data-color="white" data-name="users-add" data-size="34">
            </span>
            <a href="#" class="brand-logo left" style="margin-top:-10px">&nbsp;&nbsp;  User Info</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down" >
               <li><a href="#">
                  <span class="livicon"  style=""   data-hovercolor="white"
                     data-color="white" data-name="question" data-size="34">
                  </span></a>
               </li>
               <li><a href="#" data-activates="slide-out" class="bottom0010">
                  <span class="livicon"  style=""   data-hovercolor="white"
                     data-color="white" data-name="folders" data-size="34">
                  </span></a>
               </li>
               <li><a href="home.html">
                  <span class="livicon"  style=""   data-hovercolor="white"
                     data-color="white" data-name="home" data-size="34">
                  </span></a>
               </li>
               <li><a href="#">
                  <span class="livicon"  style=""   data-hovercolor="white"
                     data-color="white" data-name="sign-out" data-size="34">
                  </span></a>
               </li>
            </ul>
         </div>
      </nav>
      <div class="row" style="">
         <div class="container col s6" style="padding:30px">
            <div class="container col s12">
               <ul class="tabs" style="">
                  <li class="tab col s3"><a id="bottom0001" class="active"  href="#">Info Basic</a></li>
                  <li class="tab col s6">
                  </li>
                  <li class="tab col s3"><a href="#" style="    margin-top: 5px;" onclick="SaveNews()"  >
                     <span class="livicon"  style="padding-top:10px"   data-hovercolor="white"
                        data-color="white" data-name="save" data-size="34">
                     </span>
                     </a>
                  </li>
               </ul>
            </div>
            <div  id="panel0001" class="container col s12" style="margin-top:10px; font-weight:bold; color:#000 ">
               <div class="  card-panel   grey lighten-4"  style="height:526px">
                  <div class="input-field  col s12 form01" style="margin-top:0px">
                     <input type="text" class="validate" id="user_inf_full_name"></input>
                     <label for="user_inf_full_name">Full Name</label>
                  </div>
                  <div class="input-field  col s12 form01" >
                     <input type="text" class="validate" id="user_inf_mail"></input>
                     <label for="user_inf_mail">Email</label>
                  </div>
                  <div class="input-field  col s12 form01" >
                     <input type="text" class="validate" id="user_inf_national_ID"></input>
                     <label for="user_inf_national_ID">National ID</label>
                  </div>
                  <div class="input-field  col s6 form01" >
                     <input type="text" class="validate" id="user_inf_login"></input>
                     <label for="user_inf_login">Login</label>
                  </div>
                  <div class="input-field  col s5 form01" style="margin-left:20px" >
                     <input type="password" class="validate" id="user_inf_password"></input>
                     <label for="user_inf_password">Password</label>
                  </div>
                  <div class="input-field col s12 form01" style="margin-top:40px">
                     <select name="user_inf_type">
                        <option value="1">Admin</option>
                     </select>
                     <label>Type Usuario</label>
                  </div>
               </div>
            </div>
         </div>
         <div class="container col s6" style="padding:30px; margin-top:-10px">
            <div class="container col s12">
               <ul class="tabs" style="">
                  <li class="tab col s3"><a id="bottom0004" class="active"  href="#">
                     PRIVATE</a>
                  </li>
                  <li class="tab col s3"><a id="bottom0005"  href="#">PUBLIC</a></li>
                  <li class="tab col s3"><a id="bottom0006" href="#"> </a></li>
               </ul>
            </div>
            <div id="panel0004" class="  card-panel   grey lighten-4"  style="height:530px; margin-top:65px;">
               <div class="row" style="padding:30px;padding-top:0px">
                  <div  id="news_body_es" name="news_body_es" contenteditable="true" >
                     <table class="striped" >
                        <thead>
                           <tr>
                              <th data-field="id">Full Name</th>
                              <th data-field="name">Perfil</th>
                              <th data-field="price">Estatu</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>Pedro Rojas</td>
                              <td>Admin</td>
                              <td>Active</td>
                           </tr>
                           <tr>
                              <td>Ana Guere</td>
                              <td>Admin</td>
                              <td>Active</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div  id="panel0005" class="  card-panel   grey lighten-4"  style="display:none; height:530px; margin-top:65px;">
               <div class="row" style="padding:30px;padding-top:0px">
                  <div  id="news_body_es" name="news_body_es" contenteditable="true" >
                     <table class="striped" >
                        <thead>
                           <tr>
                              <th data-field="id">Full Name</th>
                              <th data-field="name">Perfil</th>
                              <th data-field="name">Company</th>
                              <th data-field="price">Estatu</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>Rafael Alvarez</td>
                              <td>Viewer</td>
                              <td>cluuf C.A.</td>
                              <td>Inactive</td>
                           </tr>
                           <tr>
                              <td>Carla Sanz</td>
                              <td>Editor</td>
                              <td>PlayCard C.A</td>
                              <td>Active</td>
                           </tr>
                           <tr>
                              <td>Carlo Lopez</td>
                              <td>Editor</td>
                              <td>PlayCard C.A</td>
                              <td>Active</td>
                           </tr>
                           <tr>
                              <td>Eduardo Jimenez</td>
                              <td>Viewer</td>
                              <td>PlayCard C.A</td>
                              <td>Active</td>
                           </tr>
                           <tr>
                              <td>Anais Quintero</td>
                              <td>Editor</td>
                              <td>ProVeN C.A</td>
                              <td>Active</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
         <div id="slide-out" class="side-nav">
            <div class="container col s12">
               <ul class="tabs" style="">
                  <li class="tab col s3"><a id="bottom0001" class="active"  href="#">A-Z</a></li>
                  <li class="tab col s3"><a id="bottom0002"  href="#">Category</a></li>
                  <li class="tab col s3"><a id="bottom0003" href="#">Latest Recents</a></li>
               </ul>
            </div>
            <ul class="collapsible" data-collapsible="accordion">
               <li>
                  <div class="collapsible-header">First</div>
                  <div class="collapsible-body">
                     <p>Lorem ipsum dolor sit amet.</p>
                  </div>
               </li>
               <li>
                  <div class="collapsible-header">Second</div>
                  <div class="collapsible-body">
                     <p>Lorem ipsum dolor sit amet.</p>
                  </div>
               </li>
               <li>
                  <div class="collapsible-header">Third</div>
                  <div class="collapsible-body">
                     <p>Lorem ipsum dolor sit amet.</p>
                  </div>
               </li>
            </ul>
         </div>
      </div>
			<script src="../js/jquery.js"></script>
      <script src="../js/materialize.js"></script>
      <script src="../js/raphael-min.js"></script>
      <script src="../js/user.js"></script>
      <script src="../js/livicons-customizer-1.4.js"></script>
      <script src="../js/customizer.js"></script>
   </body>
</html>
